<nz-card [nzBordered]="true">
  <h1 style="text-align: center; font-size: 40px;">
    📚 Books
  </h1>

  <div style="text-align: right; margin-bottom: 16px">
    <button
      nz-button
      nzType="primary"
      (click)="toggleAddBookForm()"
      style="background-color: black;"
    >
      ➕ Add Book
    </button>
  </div>

  <div *ngIf="showAddBookForm" style="margin-bottom: 16px">
    <nz-input-group nzSize="large">
      <input nz-input placeholder="Title" [(ngModel)]="newBook.title" />
    </nz-input-group>
    <nz-input-group nzSize="large" style="margin-top: 10px">
      <input nz-input placeholder="Author" [(ngModel)]="newBook.author" />
    </nz-input-group>
    <button
      nz-button
      nzType="primary"
      (click)="addBook()"
      style="margin-top: 10px"
    >
      💾 Save
    </button>
    <button nz-button nzType="default" (click)="toggleAddBookForm()">
      ❌ Cancel
    </button>
  </div>

  <nz-table
    #basicTable
    [nzBordered]="true"
    [nzData]="books"
    [nzSize]="'middle'"
    [nzShowPagination]="true"
    [nzPageSize]="5"
  >
    <thead>
      <tr>
        <th nzWidth="40%">📖 Title</th>
        <th nzWidth="30%">✍️ Author</th>
        <th nzWidth="15%">✅ Read?</th>
        <th nzWidth="15%">⚙️ Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>
          <label nz-checkbox [(ngModel)]="book.read"></label>
        </td>
        <td>
          <button
            nz-button
            nzType="default"
            nzShape="round"
            nzColor="green"
            (click)="editBook(book)"
          >
            ✏️ Edit
          </button>
          <button
            nz-button
            nzType="default"
            nzShape="round"
            nzDanger
            (click)="deleteBook(book.id)"
          >
            🗑️ Delete
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div *ngIf="selectedBook" style="margin-top: 16px">
    <h3 nz-typography nzTitle style="font-size: 20px">✏️ Edit Book</h3>
    <nz-input-group nzSize="large">
      <input nz-input placeholder="Title" [(ngModel)]="selectedBook.title" />
    </nz-input-group>
    <nz-input-group nzSize="large" style="margin-top: 10px">
      <input nz-input placeholder="Author" [(ngModel)]="selectedBook.author" />
    </nz-input-group>
    <button
      nz-button
      nzType="primary"
      (click)="updateBook()"
      style="margin-top: 10px"
    >
      💾 Save
    </button>
    <button nz-button nzType="default" (click)="selectedBook = null">
      ❌ Cancel
    </button>
  </div>
</nz-card>
