nz-card {
  max-width: 800px;
  margin: auto;
  background-color: #29448d81;
  padding: 16px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  margin-top: 16px;
}

button {
  margin-right: 8px;
}

nz-table {
  margin-top: 16px;
}

nz-input-group {
  width: 100%;
}

.form-container {
  background: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.custom-input {
  border-radius: 8px !important;
  border: 2px solid #1890ff !important;
  padding: 10px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &:focus {
    border-color: #ff4d4f !important;
    box-shadow: 0 0 5px rgba(255, 77, 79, 0.6);
  }
}

.save-btn {
  margin-top: 10px;
  background-color: #1890ff;
  color: white;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  transition: background 0.3s;

  &:hover {
    background-color: #40a9ff;
  }
}

.cancel-btn {
  margin-top: 10px;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
}

::ng-deep td.checkbox-column {
  text-align: center;
}

::ng-deep .ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #9b9cc0 !important;
  border-color: #030303 !important;
}

::ng-deep .ant-checkbox-disabled .ant-checkbox-inner::after {
  border-color: rgb(209, 65, 65) !important;
  border-width: 3px !important;
}
