nz-card {
    max-width: 800px;
    margin: auto;
    background-color: #29448d81;
    padding: 16px;
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 22px;
    margin-top: 16px;
  }
  
  button {
    margin-right: 8px;
  }
  
  nz-table {
    margin-top: 16px;
  }
  
  nz-input-group {
    width: 100%;
  }
  